#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tenzi-playboard {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 35px;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
}

.congrats-sign-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.congrats-sign {
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2;
}

.congrats-fireworks {
  z-index: 1;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.rolled-times-sign {
  display: flex;
  gap: 3px;
  color: rgb(0, 255, 255);
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}