#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.tenzi-playboard {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tenzi-dice {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 60px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}

[data-locked="true"] {
  background: #F7E6CA;
  color: #594423;
  border-color: #594423;
}

.congrats-sign-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.congrats-sign {
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2;
}

.congrats-fireworks {
  z-index: 1;
}